/* body {
    background: blue !important;
} */
.widget_Radio {
    background-image: linear-gradient(120deg, #afe2f6, #6EAADD);
    padding: 1rem 0;
}

.widget_Radio .exempeltext {
    font-weight: 300;
    font-size: 1.5em;
    font-style: italic;
    color:#003E53;
    letter-spacing: 0;
    }

.widget_Radio .bigger {
    font-size: 0.8em;
    color: #003E53;
    letter-spacing: 0;

   }
   .widget_Radio audio {
       width: 40%;
   }